
.titulo{
	background-color: rgb(167,212, 255);
	width:32%;
    height:150px;
	border-radius: 10px;
    font-size: xxx-large;
	position: absolute;
	left: 32%;
	top: 5%;
	padding-right: 50px;
	text-align:center;
	border: solid black 2px;
	font-family:"Verdana, Geneva, Tahoma, sans-serif";
}
.logo{
	width: 150px;
	height: 150px;
	position: absolute;
	left: 78%;
	top: 5%;
}

.caixanavegacao  { 
	background-color: rgb(167,212, 255);
	width:10%;
	height:440px;
	left:2%;
	top:46%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position: fixed;
	font-size: 200%;
	padding: 10px;
	text-align: center;
	border: solid black 2px;
	font-family:"Verdana, Geneva, Tahoma, sans-serif";
}
.caixanavegacao_questionario { 
	background-color: rgb(167,212, 255);
	width:10%;
	height:440px;
	left:86.5%;
	top:46%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position: fixed;
	font-size: 200%;
	padding: 10px;
	text-align:center;
	border: solid black 2px;
	font-family:"Verdana, Geneva, Tahoma, sans-serif"
}

.destaque:hover {
	color: blue;
} 

.caixaperfil { 
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:10%;
	height:210px;
	left:3%;
	top:18%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position: fixed;
	border: solid black 2px;
	text-align: center;
	font-family:"Verdana, Geneva, Tahoma, sans-serif";
	font-size: 90%;
	flex-direction: column;
	display: flex;
}

.conteudomodulo { 
	color:rgba(0, 0, 0, 1);
    position: absolute;
	width:65%;
	left:16%;
	top: 240px;
	text-align:center;
	letter-spacing:0;
	font-size:220%;
	border-radius: 10px;
	background-color: rgb(166.81249290704727, 212.37603038549423, 255, 1);
	padding: 22px;
	border: solid black 2px;
	font-family:"Verdana, Geneva, Tahoma, sans-serif"
}

.home { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	width: 80%;
	left: 9%;
	top: 240px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	font-size:220%;
	border-radius: 10px;
	background-color: rgb(166.81249290704727, 212.37603038549423, 255, 1);
	padding: 25px;
	border: solid black 2px;
	font-family:"Verdana, Geneva, Tahoma, sans-serif"
}

.botaoproximo{
    background-color: #a7d4ff;
    border-width: 3px;
    font-size:60%;
    border: solid black 2px;
    text-decoration: none;
    padding: 2%;
    color: black;
}
 
.botaovoltar{
    background-color: #a7d4ff;
    border-width: 3px;
    font-size:60%;
    border: solid black 2px;
    text-decoration: none;
    padding: 2%;
    color: black;
}

.corrigir{
    background-color: #a7d4ff;
    border-width: 3px;
    font-size:60%;
    border: solid black 2px;
    text-decoration: none;
    padding: 2%;
    color:black
}
.enviar{
    background-color: #a7d4ff;
    border-width: 3px;
    font-size:60%;
    border: solid black 2px;
    text-decoration: none;
    padding: 2%;
    color:black
}

.btt_login_cadastro{
	text-align: center;
    width: max-content;
}

.caixaLogin{
	background-color: rgb(167,212, 255);
	width:max-content;
	border-radius:10px;
	font-size: 1em;
	padding: 10px;
	text-align: center;
	border: solid black 2px;
	margin:auto;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blocoPrincipal {
    justify-content:center;
}

.loginBotao {
    background-color: #f5f5f5;
    border-width: 3px;
    font-size:1.7em;
    padding: 10px 50px;
    border-radius: 10px;
    border: solid black 2px;
    max-width:max-content;
}

.loginTextbox{
    width: 100%;
    height: 1.1em;
    font-size: 1.1em;
    padding: 5px;
}

h1{
    margin-block-start: 0px;
}
label{
    font-size:1.5em;
}

@media (max-width: 768px) {
    .titulo{
		
	}
}
 
@media (max-width: 480px) {
    .titulo {
        font-size: 1rem;
		top: 5%;
		height: 7.5%;
		width: 35%;
		left: 26%;
		text-align: left;
		padding: 1%;
    }

	.logo{
		width: 50%;
		height: 110%;
		left: 55%;
		top: 2%;
	}
 
    .caixanavegacao{
		font-size: 0.7rem;
		left: 1%;
		height: 29%;
		top: 24%;
    }

	.caixaperfil{
		height: 15%;
		width: 18%;
		font-size: 0.5rem;
		top: 8%;
		left: 0%
	}
 
    .caixanavegacao_questionario {
        font-size: 0.7rem;
        left:82%;
		width: 11%;
		height: 29%;
		top: 24%;
    }

    .conteudomodulo {
        font-size: 1rem;
		width: 50%;
        left: 19%;
		top: 15%;
    }
 
    .fotodeperfil {
        width: 80px;
    }
}
 