
.m_dulo_1_1 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.caixatitulo { 
    display: flex;
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:800px;
	height:140px;
	position:absolute;
	left:374px;
	top:42px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.marca { 
	width:200px;
	height:200px;
	position:absolute;
	left:374px;
	top:12px;
	background-image:url(images/marca.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.titulo { 
    display: flex;
	color:rgba(0, 0, 0, 1);
	width:566px;
	height:77px;
	position:absolute;
	left:574px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.caixanavegacao { 
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:200px;
	height:575px;
	position:absolute;
	left:29px;
	top:416px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.m_dulo_1 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:50px;
	position:absolute;
	left:44px;
	top:617px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.introdu__o { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:50px;
	position:absolute;
	left:44px;
	top:468px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.m_dulo_2 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:50px;
	position:absolute;
	left:44px;
	top:678px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.m_dulo_3 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:50px;
	position:absolute;
	left:43px;
	top:739px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.m_dulo_4 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:50px;
	position:absolute;
	left:43px;
	top:800px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.perguntas_frequentes { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:50px;
	position:absolute;
	left:44px;
	top:861px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.caixaperfil { 
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:185px;
	height:200px;
	position:absolute;
	left:34px;
	top:183px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.fotoperfil { 
	border-radius:500px;
	width:130px;
	height:130px;
	position:absolute;
	left:61px;
	top:201px;
	background-image:url(images/fotoperfil.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.nome { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:24px;
	position:absolute;
	left:65px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.email { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:15px;
	position:absolute;
	left:43px;
	top:361px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.caixaconteudo { 
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:1150px;
	height:650px;
	position:absolute;
	left:266px;
	top:239px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.conteudomodulo1 { 
	color:rgba(0, 0, 0, 1);
	width:1106px;
	height:624px;
	position:absolute;
	left:288px;
	top:254px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.inicio_do_curso { 
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:77px;
	position:absolute;
	left:44px;
	top:529px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.botaoproximo { 
	width:160px;
	height:60px;
	position:absolute;
	left:1228px;
	top:931px;
}
.caixabotaoproximo { 
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:160px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.proximo { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:39px;
	position:absolute;
	left:19px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.botaovoltar { 
	width:160px;
	height:60px;
	position:absolute;
	left:294px;
	top:931px;
}
.caixabotaovoltar { 
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:160px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.voltar { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:39px;
	position:absolute;
	left:35px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.selecaonavegacao { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:184px;
	height:52px;
	position:absolute;
	left:29px;
	top:610px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}