
.titulo{
	background-color: rgb(167,212, 255);
	width:40%;
    height:150px;
	border-radius: 10px;
    font-size: 250%;
	position: absolute;
	left: 32%;
	top: 5%;
	padding-left:5%;
	text-align:left;
	border: solid black 2px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
	width: 150px;
	height: 150px;
	position: absolute;
	left: 82%;
	top: 5%;
}

.caixanavegacao  { 
	background-color: rgb(167,212, 255);
	width:10%;
	height:500px;
	left:2%;
	top:42%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position: fixed;
	font-size: 200%;
	padding: 10px;
	text-align: center;
	border: solid black 2px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.destaque:hover {
	color: blue;
} 

.caixaperfil { 
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:10%;
	height:23%;
	left:2.5%;
	top:14%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position: fixed;
	border: solid black 2px;
	text-align: center;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 90%;
	flex-direction: column;
	display: flex;
}

.conteudomodulo { 
	color:rgba(0, 0, 0, 1);
    position:absolute ;
	width:75%;
	left:18%;
	top: 240px;
	text-align:center;
	letter-spacing:0;
	font-size:220%;
	border-radius: 10px;
	background-color: rgb(166.81249290704727, 212.37603038549423, 255, 1);
	padding: 22px;
	border: solid black 2px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.conteudomodulo label{
	font-size: 100%;
}

.botaoproximo{
    background-color: #a7d4ff;
    border-width: 3px;
    font-size:80%;
    border: solid black 2px;
    text-decoration: none;
    padding: 2%;
    color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.botaovoltar{
    background-color: #a7d4ff;
    border-width: 3px;
    font-size:80%;
    border: solid black 2px;
    text-decoration: none;
    padding: 2%;
    color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botaoproximo:hover {
    color: white;
    background-color: #0a7eeb;
}
 
.botaovoltar:hover{
    color: white;
    background-color: #0a7eeb;
}

.corrigir:hover{
    color: white;
    background-color: #0a7eeb;
}

.enviar:hover{
    color: white;
    background-color: #0a7eeb;
}

.corrigir{
    background-color: #a7d4ff;
    border-width: 3px;
    font-size:60%;
    border: solid black 2px;
    text-decoration: none;
    padding: 2%;
    color:black
}
.enviar{
    background-color: #a7d4ff;
    border-width: 3px;
    font-size:60%;
    border: solid black 2px;
    text-decoration: none;
    padding: 2%;
    color:black
}

.btt_login_cadastro{
	text-align: center;
    width: max-content;
}

.caixaLogin{
	background-color: rgb(167,212, 255);
	width:max-content;
	border-radius:10px;
	font-size: 1em;
	padding: 10px;
	text-align: center;
	border: solid black 2px;
	margin:auto;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blocoPrincipal {
    justify-content:center;
}

.loginBotao {
    background-color: #f5f5f5;
    border-width: 3px;
    font-size:1.7em;
    padding: 10px 50px;
    border-radius: 10px;
    border: solid black 2px;
    max-width:max-content;
}

.loginTextbox{
    width: 100%;
    height: 1.1em;
    font-size: 1.1em;
    padding: 5px;
}

h1{
    margin-block-start: 0px;
}
label{
    font-size:1.5em;
}

@media(max-width: 1475px){

	.titulo{
		top: 5%;
		height: 12%;
		width: 45%;
		left: 32%;
		text-align: left;	
	}

    h2{
		font-size: 70%;
	}

	.logo{
		left: 65%;
		width: 30%;
		height: 100%;
		top: 0%;
	}

	.caixanavegacao{
		font-size: 130%;
		height: 40%;
	}

	.conteudomodulo{
		font-size: 130%;
		width: 70%;
		left: 20%;
		top: 20%;
	}
	
.caixaperfil{
	font-size: 60%;
	height: 20%;
}

}

@media (max-width: 900px) {
    .titulo{
		top: 5%;
        height: 10%;
		width: 60%;
		left: 28%;
		text-align: left;	
	}

    h2{
		font-size: 70%;
	}

	.logo{
		left: 75%;
		width: 30%;
		height: 95%;
		top: 0%;
	}

	.caixaperfil{
		width: 17%;
        font-size: 60%;
		height: 17%;
		top: 5% ;
		position: fixed;
		left: 2%;
		text-align: center;
	}

	.caixanavegacao{
		font-size: 100%;
		width: 15%;
		top: 25%;
		height: 44%;
	}

	.conteudomodulo{
		font-size: 170%;
		width: 60%;
		left: 25%;
		top: 20%;
	}
}
 
@media (max-width: 480px) {
    .titulo {
		top: 5%;
		height: 7.5%;
		width: 55%;
		left: 28%;
		text-align: left;
		font-size: 110%;
    }

    h2{
        font-size: 100%;
    }

	.logo{
		width: 40%;
		height: 110%;
		left: 65%;
		top: 0%;
	}
 
    .caixanavegacao{
		font-size: 0.7rem;
		left: 1%;
		height: 29%;
		top: 24%;
    }

	.caixaperfil{
		height: 15%;
		width: 18%;
		font-size: 0.5rem;
		top: 8%;
		left: 0%;
		position: fixed;
	}
 
    .conteudomodulo {
		font-size: 100%;
		width: 60%;
        left: 21%;
		top: 15%;
    }
 
    .fotodeperfil {
        width: 80px;
    }

    .caixanavegacao{
		text-align: center;
		height: 35%;
		width: 12%;
		top: 25%;
	}

}