#um {
    width: 1150px;
    height: 650px;
    display: flex;
    justify-content: space-around;
   
    margin-top: 50%;
    margin-bottom: 30%;
    margin-right: 5%;
    margin-left: 30%;
    background: #A7D4FF;
     
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
     
}

#dois {
    background-color: #A7D4FF;
    top: 50%;
    left: 50%;
    margin-bottom: 20%;
    margin-right: 89%;
    margin-left: 30%;
    transform: translate(-800%, -800%);
    
}

#tres {
    background-color: #A7D4FF;
    top: 50%;
    left: 50%;
    margin-bottom: 50%;
    margin-right: 30%;
    margin-left: 82%;
    transform: translate(-1530%, -1530%);

}
