
.titulo{
	background-color: rgb(167,212, 255);
	width:566px;
    height:150px;
	border-radius: 10px;
    font-size: xxx-large;
	position: absolute;
	left: 550px;
	top: 70px;
	padding-right: 50px;
	text-align:end;
	font-family: Arial, Helvetica, sans-serif;
	border: solid black 2px;
}
.logo{
	width: 150px;
	height: 150px;
	position: absolute;
	left: 550px;
	top: 60px;
}

.caixanavegacao { 
	background-color: rgb(167,212, 255);
	width:200px;
	height:440px;
	position:absolute;
	left:29px;
	top:416px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position: fixed;
	font-size: xx-large;
	padding: 10px;
	text-align: center;
	border: solid black 2px;
}
.caixanavegacao_questionario { 
	background-color: rgb(167,212, 255);
	width:200px;
	height:440px;
	position:absolute;
	left:1650px;
	top:416px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position: fixed;
	font-size: xx-large;
	padding: 10px;
	text-align: center;
	border: solid black 2px;
	
}

.destaque:hover {
	color: blue;
} 

.caixaperfil { 
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:38px;
	top:183px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	position: fixed;
	border: solid black 2px;
}
.fotoperfil { 
	border-radius:500px;
	width:130px;
	height:130px;
	position:absolute;
	left:61px;
	top:201px;
	background-image:url(images/fotoperfil.png);
	background-repeat:no-repeat;
	background-size:cover;
	position: fixed;
}
.nome { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:24px;
	position:absolute;
	left:75px;
	top:337px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	position: fixed;
}
.email { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:15px;
	position:absolute;
	left:55px;
	top:361px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	position: fixed;
}
.caixaconteudo { 
	background-color:rgba(166.81249290704727, 212.37603038549423, 255, 1);
	width:1150px;
	height: 650px;
	position:absolute;
	left:370px;
	top:239px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border: solid black 2px;
}
.iniciodocurso { 
	color:rgba(0, 0, 0, 1);
	width:1106px;
	height:624px;
	position:absolute;
	left:400px;
	top:260px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	font-size:200%;
}
.botaoproximo_ic{
	width:160px;
	height:60px;
	position:absolute;
	cursor: pointer;
}

.botaovoltar_ic { 
	width:160px;
	height:60px;
	position:absolute;
	left:294px;
	top: 925px;
	cursor: pointer;
}

.introducaocont { 
	color:rgba(0, 0, 0, 1);
	width:1106px;
	height:624px;
	position:absolute;
	top:250px;
	left: 300px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	font-size:200%;
}

.conteudomodulo1_pg1 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:267px;
	top: 240px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	font-size:220%;
	border-radius: 10px;
	background-color: rgb(166.81249290704727, 212.37603038549423, 255, 1);
	padding: 25px;
}

.conteudomodulo2_pg1 { 
	color:rgba(0, 0, 0, 1);
	width:1106px;
	height:624px;
	position:absolute;
	left:288px;
	top:254px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	font-size:158%;
}


.botaoproximomod1{
	width:160px;
	height:60px;
	position:absolute;
	top: 1180px;
	cursor: pointer;
}

.botaovoltarmod1 { 
	width:160px;
	height:60px;
	position:absolute;
	left:294px;
	top: 2110px;
	cursor: pointer;
}

.botaoproximomod2{
	width:160px;
	height:60px;
	position:absolute;
	top: 2620px;
	cursor: pointer;
}

.botaovoltarmod2 { 
	width:160px;
	height:60px;
	position:absolute;
	left:294px;
	top: 3550px;
	cursor: pointer;
}
.botaoproximomod3{
	width:160px;
	height:60px;
	position:absolute;
	top: 1180px;
	cursor: pointer;
}

.botaovoltarmod3 { 
	width:160px;
	height:60px;
	position:absolute;
	left:294px;
	top: 2110px;
	cursor: pointer;
}
.botaoproximomod4{
	width:160px;
	height:60px;
	position:absolute;
	top: 1180px;
	cursor: pointer;
}

.botaovoltarmod4 { 
	width:160px;
	height:60px;
	position:absolute;
	left:294px;
	top: 2110px;
	cursor: pointer;
}
.selecaonavegacao { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:184px;
	height:52px;
	position:absolute;
	left:29px;
	top:610px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}